.createcomm {
  background-color: tomato;
  margin-left: 20px;
  /* margin-top: 10px; */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  /* width: 20%; */
}
.createpostcomm {
  background-color: cornflowerblue;
  margin-left: 20px;
  /* margin-top: 10px; */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  /* width: 20%; */
}
