.profilecardflexxcol {
  display: flex;
  flex-direction: column;
}
.dpprofileimg {
  width: 100px;
  height: 100px;
  border: 2px solid white;

  border-radius: 50%;
  display: block;
  margin: auto;

  position: relative;
  bottom: 50px;
}
.profilename {
  text-align: center;
  /* margin: -40px 0px; */
}
.flexxcolsocial a {
  text-decoration: none;
  color: inherit;
}
.bgprofileimg {
  background-position: center;
  background-size: cover;

  width: 90%;
  margin: auto;
  display: block;
  height: 300px;
}
.personinfoflexxcol {
  display: flex;
  background-color: #c6ccd8;

  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}
.personinfoflexxcoldark {
  display: flex;
  background-color: #373737;

  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  color: white;
}
.flexxcolsocial {
  display: flex;
  margin: 0px 10px;
  /* align-items: ; */
  flex-direction: column;
}
.locationflexxrow i {
  font-size: 150%;
}
.editprofile i {
  font-size: 150%;
}
.flexxcolsocial p {
  margin: 0px;
}
.locationflexxrow {
  align-items: center;

  display: flex;
  flex-direction: row;
  /* width: 50%; */
  border-radius: 10px;

  margin: 0px 0px;
  /* margin: auto; */
  justify-content: flex-start;
}
hr {
  margin: 2px;
}
.friendsflexxrow {
  display: flex;
  flex-direction: row;
}
.friendsflexxrow i {
  margin: 0px 10px;
}
.profilename {
  /* color: tomato; */
}
.editlinkflexxrow {
  align-items: center;

  display: flex;
  flex-direction: row;
  /* width: 50%; */
  border-radius: 10px;

  margin: 5px 0px;
  /* margin: auto; */
  justify-content: space-between;
}
