.flexxcolpostinput {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.flexxrowinputtext {
  display: flex;
  margin: 10px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.postdp {
  width: 10%;
  /* width: 40px; */
  height: 40px;
  border-radius: 50%;
}
.writepost {
  border-radius: 20px;
  background: #c6ccd8;
  border: none;
  padding: 8px 15px;
  width: 70%;
}
.inputpostpic {
  display: none;
}
.imgpostflexxrow {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.previewPic {
  width: 40%;
  margin: 10px auto;
  display: block;
  /* margin: 10px 0px; */
}
.postbtn {
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 30%;
}
